<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReciclaHub - Doador</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/style.css">
</head>

<body>
    <header>
        <div class="wrap">
            <a href="./inicio.html" class="logo">
                <span class="logo-icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linejoin="round" stroke-line="round">
                        <polyline points="23 4 23 10 17 10"></polyline>
                        <polyline points="1 20 1 14 7 14"></polyline>
                        <path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path>
                    </svg>
                </span>
                <span><span class="recicla">Recicla</span>Hub</span>
            </a>

        <nav>
            <a href="./inicio.html">Início</a>
            <a class="active">Doador</a>
            <a href="./area-coletor.html">Coletor</a>
        </nav>

        <div class="acoes">
            <button class="btn-perfil" aria-label="Perfil">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="12" cy="8" r="4"/>
                  <path d="M4 20c0-4.5 3.5-7 8-7s8 2.5 8 7"/>
                </svg>
              </button>
        </div>
        </div>
    </header>

    <!--
        # AQUI VAI VIR SECTION #

        COMO EU AINDA NÃO SEI COMO VOU FAZER TOTALMENTE, IREI FAZER DEPOIS
    -->

    <footer>
        <p>© 2026 ReciclaHub. Reciclagem mais simples para todo mundo.</p>
    </footer>
</body>
</html>