<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReciclaHub - Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/style.css">
</head>

<body>
    <header>
        <div class="wrap">
            <a href="../../index.html" class="logo">
                <span class="logo-icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linejoin="round" stroke-line="round">
                        <polyline points="23 4 23 10 17 10"></polyline>
                        <polyline points="1 20 1 14 7 14"></polyline>
                        <path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path>
                    </svg>
                </span>
                <span><span class="recicla">Recicla</span>Hub</span>
            </a>

        <nav>
            <a href="../../index.html">Início</a>
            <a href="../public/area-doador-public.html">Doador</a>
            <a href="../public/area-coletor-public.html">Coletor</a>
        </nav>

        <div class="acoes">
            <a class="login-link">Login</a>
            <button class="btn-cadastro">Cadastrar-se</button>
        </div>
        </div>
    </header>

    <section class="bg-branco login-section">
        <div class="login-wrap">
            <h1>Acessar a Plataforma</h1>

            <form class="login-card">
                <div class="campo">
                    <label for="email">Email</label>
                    <input type="email" id="email">
                </div>
                <div class="campo">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha">
                </div>
                <button type="submit" class="btn-cadastro btn-full">Entrar</button>
            </form>

            <p class="login-cadastro">Ainda não possui cadastro? <a href="./cadastro.html">Crie sua conta aqui</a></p>
        </div>
    </section>

    <footer>
        <p>© 2026 ReciclaHub. Reciclagem mais simples para todo mundo.</p>
    </footer>

</body>
</html>